@media (max-width: 1200px) {
    .promo {
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .consultation {
        &__title {
            font-size: 28px;
        }
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 800px;
            }
        }
        .prev {
            left: -20px;
        }
        .next {
            right: -20px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 16px;
        }
    }
    .advantages {
        &__item {
            width: 220px;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 700px;
            }
        }
    }
    .reviews {
        &-item {
            &__photo {
                width: 130px;
                height: 130px;
                img {
                    width: 130px;
                    height: 130px; 
                }
            }
            &__descr {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .promo {
        background-size: 130% 100%;
        &__header {
            font-size: 27px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 12px;
        }
        &__icons {
            width: 360px;
            margin-top: 50px;
        }
        &__icon {
            width: 95px;
            font-size: 12px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .header {
        &__logo {
            width: 200px;
            img {
                width: 100%;
            }
        }
        &__official {
            font-size: 9px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
    .button {
        width: 130px;
        height: 25px;
        &_main {
            width: 270px;
            height: 40px;
            font-size: 14px;
        }
    }
    .advantages {
        &__title {
            font-size: 24px;
        }
        &__item {
            width: 230px;
        }
        &__content__title {
            margin-top: 30px;
            font-size: 14px;
        }
        &__descr {
            margin-top: 14px;
            font-size: 12px;
        }
    }
    .consultation {
        &__title {
            font-size: 20px;
            text-align: center;
            line-height: 35px;
        }
        &__descr {
            font-size: 16px;
            text-align: center;
            line-height: 25px;
            width: 100%;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .button {
        &_submit {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            width: 250px;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 400px;
            }
        }
        .prev, .next {
            img {
                width: 20px;
                height: 35px;
            }
        }
        .prev {
            left: -10px;
        }
        .next {
            right: -15px;
        }
    }
    .catalog {
        &__tab {
            width: 140px;
            height: 35px;
            font-size: 12px;
            line-height: 35px;
        }
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &-item {
            width: 230px;
            height: 100%;
            &__img {
                height: 150px;
            }
            &__subtitle {
                font-size: 14px;
            }
            &__descr {
                font-size: 12px;
                width: 170px;
            }
            &__link {
                font-size: 12px;
            }
            &__wrapper {
                height: 300px;
            }
            hr {
                width: 183px;
            }
            &__list {
                li {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
            &__back {
                margin-top: 40px;
                font-size: 12px;
            }
            &__old-price {
                font-size: 12px;
                line-height: 10px;
            }
            &__price {
                font-size: 14px;
            }
        }
    }
    .button {
        &_mini {
            width: 90px;
            height: 30px;
            font-size: 12px;
        }
    }
    .advantages {
        &__title {
            font-size: 20px;
        }
    }
    .reviews {
        &-item {
            &__photo {
                width: 90px;
                height: 90px;
                img {
                    width: 90px;
                    height: 90px; 
                }
            }
            &__subtitle {
                font-size: 16px;
            }
            &__descr {
                font-size: 12px;
                span {
                    display: none;
                }
            }
            &__hidden-link {
                display: block;
            }
        }
    }
    .footer {
        &__info {
            width: 300px;
            height: 200px;
        }
        &__address {
            font-size: 14px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 14px;
            margin-bottom: 20px;
        }
        &__social-item {
            width: 24px;
            height: 24px;
            img {
                width: 100%;
            }
        }
        &__social {
            margin-top: 15px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: auto;
    }
    .promo {
        min-height: 585px;
        background: url(../img/bg/head_bg_mobile.jpg) center (center/cover) no-repeat;
        padding: 21px 0 20px 0;
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 12px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            width: 320px;
        }
        &__icon {
            font-size: 10px;
            margin-bottom: 10px;
            img {
                margin-bottom: 10px;
            }
        }      
        
    }
    .header {
        &__official {
            display: none;
        }
        &__logo {
            width: 150px;
        }
        &__phone {
            display: none;
        }
    }
    .button {
        &_promo {
            display: none;
        }
        &_sub {
            display: block;
            width: 100px;
            height: 20px;
            background: $main-color;
            border-radius: 5px;
            font-weight: 500;
            font-size: 9px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
            margin-right: 3px;
        }
    }
    .advantages {
        padding: 40px 0 40px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
        }
        &__item {
            margin-bottom: 15px;
        }
        &__content__title {
            margin-top: 15px;
        }
    }
    .consultation {
        min-height: 400px;
        &__title {
            font-size: 14px;
        }
        &__descr {
            display: none;
        }
    }
    .feed-form {
        width: 200px;
    }
    .button {
        &_submit {
            width: 200px;
            font-size: 10px;
        }
    }
    .carousel {
        .tns-item {
            img {
                width: 250px;
            }
        }
        .prev, .next {
            img {
                width: 15px;
                height: 26px;
            }
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
    .catalog {
        &__tab {
            width: 90px;
            font-size: 9px;
        }
    }
    .footer {
        height: 400px;
        &__info {
            width: 250px;
            height: 200px;
            padding: 40px 18px 15px 18px;
        }
    }
    .modal {
        width: 250px;
        min-height: 300px;
        padding: 18px 20px 20px 20px;
        &__close {
            font-size: 26px;
            right: -26px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .feed-form {
        input {
            height: 40px;
        }
        &_modal {
            margin-top: 20px;
        }
    }
    .pageup {
        right: 20px;
        bottom: 20px;
        width: 30px;
        height: 30px;
    }
}